<!-- ======= Hero Section ======= -->
<section id="main" class="d-flex align-items-center">
    <div class="container">
        <h2>In our website, we focus on the teenagers and athletes who practice their favourite sports by
            themselves without being related to any sport club or academy. Here you can find everything
            you need in order to go through your injury physically and mentally. Because we believe that
            injuries are just obstacles that you can overcome just to get stronger than ever.</h2>

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid">
                <div class="row g-0">

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="javascript:void(0);" class="galelry-lightbox">
                                <img src="assets/img/home/home-01.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="javascript:void(0);" class="galelry-lightbox">
                                <img src="assets/img/home/home-02.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="javascript:void(0);" class="galelry-lightbox">
                                <img src="assets/img/home/home-03.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="javascript:void(0);" class="galelry-lightbox">
                                <img src="assets/img/home/home-04.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Gallery Section -->
        <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
    </div>
</section><!-- End Hero -->