<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/injuries/injury-01.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Knee Injury</h5>
                    <p class="card-text">The knee is the body's biggest and
                        most powerful joint. The intricate
                        anatomy of the knee makes it
                        vulnerable to a variety of ailments,
                        particularly among sportsmen.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/injuries/injury-02.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ankle Injury</h5>
                    <p class="card-text">The kind of tissue affected in an ankle injury is
                        determined by whether it is a bone, ligament, or tendon.
                        The tibia and fibula of your lower leg, as well as the
                        talus of your foot, connect at the ankle. Ligaments,
                        which are strong elastic bands of connective tissue that
                        maintain the bones in place while allowing normal ankle
                        mobility, hold the bones together at the ankle joint.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/injuries/injury-03.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Sport Fractures</h5>
                    <p class="card-text">High-impact and contact sports, such
                        as football tackles or boxing punches,
                        are known to have a greater rate of
                        fractures. Stress fractures, for
                        example, can be caused by extended
                        motions, repeated pressures, or
                        overuse.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/injuries/injury-04.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Swollen Muscles</h5>
                    <p class="card-text">It might be anything from an
                        overstretch to a rupture in the knee's
                        muscles or tissues. Muscles swollen
                        Swelling is a normal part of the
                        healing process after an accident.
                        Muscles that are swollen can be
                        uncomfortable and feeble.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/injuries/injury-05.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Muscle Strains</h5>
                    <p class="card-text">The lower back and the hamstring muscles
                        (placed at the back of the thigh/knee) are two
                        typical sites for strains. Strains are more
                        common in contact sports including soccer,
                        football, hockey, boxing, and wrestling.
                        Overuse injuries such as strains are frequent
                        in long-distance running, swimming, and
                        other endurance sports. Hand and forearm
                        strains can occur in gymnastics, tennis,
                        rowing, golf, and other activities that demand
                        a lot of grasping.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/injuries/injury-06.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Fitness Training</h5>
                    <p class="card-text">Sports fitness training uses fitness
                        training routines and regimens to prepare
                        athletes' bodies and minds for the special
                        demands of competition. To reduce
                        injuries, it is critical to enhance inherent
                        athletic qualities by increasing endurance,
                        agility, speed, balance, and recuperation
                        for each activity.</p>
                </div>
            </div>
        </div>
    </div>
</div>